# Database
MASTER_DATABASE_URL=
DATABASE_URL=

# Asaas - produção
ASAAS_API_KEY=
ASAAS_BASE_URL=https://api.asaas.com
ASAAS_WEBHOOK_TOKEN=

# Focus NFe - produção
FOCUS_NFE_TOKEN=
FOCUS_NFE_BASE_URL=https://api.focusnfe.com.br
